.gwc-page { 
    margin: 0 auto;
    width: 90%;
    padding: 20px;
}

.gwc-page .column-layout {
    clear: both;
} 

.gwc-page .column-layout .column1 {
    float: left;
    width: 58%;
}
.gwc-page .column-layout .column2 {
    float: right;
    width: 40%;
}

.gwc-page .column-layout .column2 .instructors {
    float: right;
    width: 45%;
}

.gwc-page .column-layout .column2 .table-of-contents {
    float: left;
    width: 45%;
}

.gwc-page .column-layout .column2 .instructors .gwc-instructor {
    width: 40%;
    float: left;
    text-align: center;
    margin: 5%;
}

.gwc-page .column-layout .column2 .instructors .gwc-instructor img {
    width: 100%;
}

.gwc-page .column-layout .halfcol {
    width: 45%;
}

.gwc-page .column-layout .halfcol.lesson-links.groupa {
    float: left;
}

.gwc-page .column-layout .halfcol.lesson-links.groupb {
    float: right;
}

.gwc-page .container-cute .text
{
    float: left;
    width: 100%;
}

.gwc-page .container-cute .image
{
    float: right;
    width: 25%;
}

.gwc-page .container-cute .image img
{
    width: 100%;
}

.gwc-page .groupa,
.gwc-page .groupb {
    border: dashed 2px #000;
    margin: 10px 0;
}

.gwc-page .groupa {
    background: url("../../content/gwc/groupabackground.png");
    border-color: #ffc000;
    padding: 10px;
    position: relative;
}

.gwc-page .groupa li,
.gwc-page .groupa p,
.gwc-page .groupa h1, 
.gwc-page .groupa h2, 
.gwc-page .groupa h3,
.gwc-page .groupa h4 {
    background: rgba( 255, 255, 255, 0.8 );
}

.gwc-page .groupb {
    background: #ffceb9;
    border-color: #b1faff;
    padding: 10px;
    position: relative;
}

.gwc-page .groupa .preview-image,
.gwc-page .groupb .preview-image {
    position: absolute;
    width:  100px;
    height: 100px;
    right: 10px;
    top: 10px;
}

