
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}



body { 
    background-color: #fff;
    /*background: url( "../images/bg-texture2.png" );*/
    background: url( "../images/bg-texture.png" );
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: #fff;
}


section.page-body {
    /*background: url( "../images/bg-texture.png" );*/
    background: url( "../images/bg-texture2.png" );
    width: 100%;
    display: block;
    margin: 0 auto;
}


section.page-header {
    width: 80%;    
    display: block;
    margin: 0 auto;
    text-align: center;
}

section.page-footer {
    border-top: solid 5px #000;
    text-align: center;
    font-family: 'Baloo Paaji 2', cursive;
    padding-top: 20px;
    color: #170037;
    width: 100%;
}

section.page-footer .left-column {
        float: left;
        text-align: center;
        width: 32%;
}

section.page-footer .center-column {
        float: left;
        text-align: center;
        width: 32%;
}

section.page-footer .right-column {
        float: left;
        text-align: center;
        width: 32%;
}

section.social-media {
        padding:10px;
        background: #000;
        height: 25px;
}

section.social-media p {
        margin: 0 auto;
        text-align: center;
        padding: 0;
}

section.social-media a,
section.social-media a img {
        margin: 2px;
        padding: 0;
}

a { 
    color: #fff; 
    font-family: 'Baloo Paaji 2', cursive;
}

a:visited { 
    color: #CCB2EF; 
}

span.anchor { 
    height: 0px; overflow: hidden; 
}

.view-more {
    text-align: right;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 14pt;
    font-weight: bold;
}

.view-more a {
    color: #2a0065;
}

.course-navigation {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.course-navigation .course-link {
    width: 32%;
    float: left;
}

.redirect-link {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 14pt;
    font-weight: bold;
}

.featured-list {
}

.featured-list .item {
    width: 80%;    
    display: block;
    margin: 0 auto;
}

section.quick-jump {
    text-align: center;
    font-family: 'Baloo Paaji 2', cursive;
}

.section-description {
    margin: 0 auto;
    display: block;
    width: 75%;
    font-size: 10pt;
    background: rgba( 255, 255, 255, 0.5 );
    padding: 2%;
    border-radius: 25px;
}

section.page-footer img {
        height: 50px;
}

.motto {
    text-align: center;
    font-family: 'Baloo Paaji 2', cursive;  
    font-weight: bold;
    font-size: 12pt;
}

.artsader-item {
    text-align: center; 
}

h1, h2, h3, h4 {
    font-family: 'Baloo Paaji 2', cursive;
}

h2,
h2 a { 
    text-align: center; 
    background: #000;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
}

.games-list .game .title,
.games-list .game .rating,
.games-list .game .platforms,
.games-list .game .development,
.games-list .game .links,
.games-list .game .screenshots { 
    display: block; 
    clear: both;
}

.games-list .game,
.list .item {
    margin: 0 auto;
    display: block;
    width: 75%;
}

.games-list .game .banner {
    text-align: center;
}

.games-list .game .platform {
    background: #e65d5d;
    border-radius: 15px;
    color: #fff;
    padding: 2px 5px;
    margin: 0 10px;
    font-weight: bold;
    height: 20px;
}

.games-list .game .platform img {
    height: 100%;
    position:relative;
    top: 4px;
}

.games-list .game .platform-linux {
    background: #9f8a00;
}
.games-list .game .platform-windows {
    background: #13579a;
}
.games-list .game .platform-mac {
    background: #818181;
}
.games-list .game .platform-android {
    background: #4ba320;
}

.games-list .game .banner img {
    width: 100%;
}
.games-list .game .links img {
    
}

.games-list .game .screenshots {
}

.games-list .game .screenshots img {
    width: 19%;
}

.games-list .game .description {
    font-size: 10pt;
    background: rgba( 255, 255, 255, 0.5 );
    padding: 2%;
    border-radius: 25px;
    margin-bottom :10px;
}

.games-list .game .subtitle { font-size: 12pt; }

.games-list .game .rating,
.games-list .game .platforms,
.games-list .game .links,
.games-list .game .development {
    font-size: 10pt;
    margin: 5px;
}

.clear { clear: both; }

.games-list .game .banner {
    width: 45%;
    float: left;
}
.games-list .game .description {
    width: 45%;
    float: right;
}

.games-list .game .title,
.games-list .game .rating,
.games-list .game .platforms,
.games-list .game .development,
.games-list .game .links,
.games-list .game .screenshots { 
    display: block; 
    clear: both;
}

.games-list .game {
    margin: 0 auto;
    display: block;
    width: 75%;
}

.games-list .game .banner {
    text-align: center;
}

.games-list .game .platform {
    background: #e65d5d;
    border-radius: 15px;
    color: #fff;
    padding: 2px 5px;
    margin: 0 10px;
    font-weight: bold;
    height: 20px;
}

.games-list .game .platform img {
    height: 100%;
    position:relative;
    top: 4px;
}

.games-list .game .platform-linux {
    background: #9f8a00;
}
.games-list .game .platform-windows {
    background: #13579a;
}
.games-list .game .platform-mac {
    background: #818181;
}
.games-list .game .platform-android {
    background: #4ba320;
}

.games-list .game .banner img {
    width: 100%;
}
.games-list .game .links img {
    
}

.games-list .game .screenshots {
}

.games-list .game .screenshots img {
    width: 25%;
}

.games-list .game .description {
    font-size: 10pt;
    background: rgba( 255, 255, 255, 0.5 );
    padding: 2%;
    border-radius: 25px;
    margin-bottom :10px;
}

.games-list .game .subtitle { font-size: 12pt; }

.games-list .game .rating,
.games-list .game .platforms,
.games-list .game .links,
.games-list .game .development {
    font-size: 10pt;
    margin: 5px;
}

.clear { clear: both; }

.games-list .game .banner {
    width: 45%;
    float: left;
}
.games-list .game .description {
    width: 45%;
    float: right;
}

.navigation-holder {
        width: 930px;
        height: 720px;
        margin: 0 auto;
}

.navigation-holder .nav-item {
        width: 270px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        float: left;
        margin: 20px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1em;
}

.nav-item .description {
  margin-top: 10px;
  font-size: 10pt;
  color: #fff;
}

.navigation-holder .nav-item a {
        text-decoration: none;
}

.navigation-holder .nav-item img {
}

.navigation-holder .nav-item.nav-about img {
        background: url( "../../content/pageicons/icon-about.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-about img:hover {
        background: url( "../../content/pageicons/icon-about-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-art img {
	background: url( "../../content/pageicons/icon-art.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-art img:hover {
	background: url( "../../content/pageicons/icon-art-hover.png" ) no-repeat;
}


.navigation-holder .nav-item.nav-languages img {
        background: url( "../../content/pageicons/icon-languages.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-languages img:hover {
        background: url( "../../content/pageicons/icon-languages-hover.png" ) no-repeat;
}


.navigation-holder .nav-item.nav-zines img {
        background: url( "../../content/pageicons/icon-zines.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-zines img:hover {
        background: url( "../../content/pageicons/icon-zines-hover.png" ) no-repeat;
}


.navigation-holder .nav-item.nav-games img {
        background: url( "../../content/pageicons/icon-gamesapps.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-games img:hover {
        background: url( "../../content/pageicons/icon-gamesapps-hover.png" ) no-repeat;
}


.navigation-holder .nav-item.nav-lessons img {
        background: url( "../../content/pageicons/icon-lessons.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-lessons img:hover {
        background: url( "../../content/pageicons/icon-lessons-hover.png" ) no-repeat;
}


.navigation-holder .nav-item.nav-blog img {
        background: url( "../../content/pageicons/icon-blog.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-blog img:hover {
        background: url( "../../content/pageicons/icon-blog-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-lessonplan img {
        background: url( "../../content/pageicons/icon-lessonplan.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-lessonplan img:hover {
        background: url( "../../content/pageicons/icon-lessonplan-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-student img {
        background: url( "../../content/pageicons/icon-student.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-student img:hover {
        background: url( "../../content/pageicons/icon-student-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-courses img {
        background: url( "../../content/pageicons/icon-courses.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-courses img:hover {
        background: url( "../../content/pageicons/icon-courses-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-mooscourses img {
        background: url( "../../content/pageicons/icon-mooslesson.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-mooscourses img:hover {
        background: url( "../../content/pageicons/icon-mooslesson-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-introcourse img {
        background: url( "../../content/pageicons/icon-introcourse.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-introcourse img:hover {
        background: url( "../../content/pageicons/icon-introcourse-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-cpp1 img {
        background: url( "../../content/pageicons/icon-cpp1.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-cpp1 img:hover {
        background: url( "../../content/pageicons/icon-cpp1-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-cpp2 img {
        background: url( "../../content/pageicons/icon-cpp2.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-cpp2 img:hover {
        background: url( "../../content/pageicons/icon-cpp2-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-cpp3 img {
        background: url( "../../content/pageicons/icon-cpp3.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-cpp3 img:hover {
        background: url( "../../content/pageicons/icon-cpp3-hover.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-resources img {
        background: url( "../../content/pageicons/icon-resources.png" ) no-repeat;
}

.navigation-holder .nav-item.nav-resources img:hover {
        background: url( "../../content/pageicons/icon-resources-hover.png" ) no-repeat;
}

.simple-page { 
        margin: 0 auto;
        width: 960px;
        padding: 20px;
}

.fluid-page {
        width: 90%;
        margin: 0 auto;
        padding: 5%;
}

.simple-page h1,
.fluid-page h1 {
        font-size: 2em;
        text-align: center;
        margin: 0;
}

.simple-page h2,
.fluid-page h2 {
        background: none;
        font-size: 1.5em;
        text-align: left;
        line-height: 1em;
}

.simple-page .container-cute .text
{
        float: left;
        width: 70%;
}

.simple-page .container-cute .image
{
        float: right;
        width: 25%;
}

.simple-page .container-cute .image img
{
        width: 100%;
}


.back-nav {
        position: absolute;
        left: 0;
        top: 0;
}

.simple-page .blog-post-list {
        font-size: 2em;
}

.simple-page .read-blog-post {
        border: solid 5px #000;
        border-radius: 15px;
        margin: 0 auto;
        padding: 20px;
        background: rgba( 255, 255, 255, 0.7 );
}

hr {
        margin-top: 20px;
        border-color: #22043c;
        border-style: dashed;
}

.simple-page .read-blog-post .title {
}

.simple-page .read-blog-post .date {
        font-weight: bold;
        font-size: 0.8em;
}

.simple-page .read-blog-post .content {
}

.centered
{
        text-align: center;
}

.simple-page .course-list .course-item {
        float: left;
        width: 31%;
        margin: 1%;
        height: 250px;
}

.simple-page .course-list .course-item .image {

}

.simple-page .course-list .course-item .image img {
        width: 100%;
}

.simple-page .course-list .course-item .text {

}

.class-topics {
        background: rgba( 255, 255, 255, 0.75 );
}

.class-topics .class-topic {
        float: left;
        width: 31%;
        padding: 1%;
}

.class-topics li {
        margin-bottom: 20px;
}

.class-topics p.description {
        font-size: 0.8em;
        margin: 10px;
}

/**********************************************************************/
/* Course */

.course p {
        font-size: 0.8em;
}

.course h2 {
        font-size: 1.2em;
}

.course table {
        font-size: 0.8em;
}


.course table tr { 
        vertical-align: top; 
}

.course table tr:nth-child(odd) {
  background: rgba( 255, 255, 255, 0.5 );
}

.course table tr:nth-child(even) {
}

.course .content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 50px;
}

.course .unit-navigation .previous {
        float: left;
        text-align: left;
}

.course .unit-navigation .next {
        float: right;
        text-align: right;
}

.course .summary {
        font-style: italic;
}

.course .plan {
        font-size: 1.2em;
}

.course .content .section-description {
        font-size: 0.7em;
        margin: 0;
        width: 85%;
}

.course .content .section-description .due {
        font-weight: bold;
}

.course .content .section-description .where {
        font-weight: bold;
}

.course table.lecture-list {
        width: 100%;
        font-size: 0.8em;
}

.course table.lecture-list th {
        text-align: left;
}

.course table.lecture-list tr td,
.course table.lecture-list tr th {
        border-bottom: solid 1px #000;
}

.course table.lecture-list .topic {
        width: 30%;
        font-size: 0.8em;
}

.course table.lecture-list .lectures {
        width: 35%;
}

.course table.lecture-list .reading {
        width: 35%;
}

.course .when {
    font-size: 0.8em;
    font-style: italic;
    color: #440a69;
}

.highlighted {
        background: rgba( 255, 255, 255, 0.75 );
        padding: 10px;
}

.columns-gallery {
}

.columns-gallery .block {
        float: left;
}

.columns-gallery .block.gwc-instructor {
        text-align: center;
        height: 200px;
}

.columns-gallery .block.gwc-instructor img {
        width: 150px;
}

.pronouns {
        font-size: 0.8em;
        font-style: italic;
}

.competition {
  clear: both;
}

.competition .poster {
  float: left;
  width: 25%;
}

.competition .poster img {
  width: 100%;
}

.competition .information {
  float: left;
  width: 70%;
  padding-left: 2%;
}

.competition .screenshot {
  width:100%;
}

.competition .entries {
  clear: both;
}

.competition .entries .col {
  float: left;
  width: 30%;
  margin-left: 1%;
  margin-right: 1%;
}

.additional-content {
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    background: rgba( 0, 0, 0, 0.4 );
}

.additional-content,
.additional-content a {
    font-size: 16pt;
    font-family: 'Baloo Paaji 2', cursive;
}
