@media only screen and (max-width: 1000px) {
    #table-of-contents { display: none; }
}

body {
    font-family: sans-serif;
}

img { max-width: 100%; }

hr { 
    margin-bottom: 100px;
}

#table-of-contents {
    width: 35%;
    float: right;
}

.outline-2,
.outline-3,
.outline-4,
.outline-5 {
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.outline-2 {
    border-left: solid 2px rgba( 255, 0, 0, 0.5 );
}

.outline-3 {
    border-left: solid 2px rgba( 200, 200, 0, 0.5 );
}

.outline-4 {
    border-left: solid 2px rgba( 0, 255, 0, 0.5 );
}

.outline-5 {
    border-left: solid 2px rgba( 0, 0, 255, 0.5 );
}
